.container {
    margin: 5% 3%; /*left and right 30%, top 2%*/
}

.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #444B6E;
    padding: 10px 15px; /*padding: 15px*/
}

.logo {
    width: 30px;
    height: 30px;
}

.title {
    display: inline-block;
    margin-left: 2%;
    font-size: 40px; /*45px*/
    color: white;
}

#addressBookTable {
    border-collapse: collapse;
    font-size: 20px; /*30px */
    text-align: left;
    min-height: 75vh; /*55.1vh*/
    width: 100%;

}

#addressBookTable th, #addressBookTable td {
    border: 1px solid #61616185;
    padding: 10px;
}

.th-name {
    width: 36%;
}

/* move to desktop */
tr:hover {
    background-color: #dbd8d885;
}

.avatar {
    width: 72px; /*100px*/
    height: 72px; /*100px*/
    vertical-align: bottom;
    border-radius: 50px;
}

/* move to desktop */
a:hover {
    cursor: pointer;
}

#pagination {
    display: flex;
    justify-content: center;
    border: 1px solid #61616185;
    border-top-width: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#pagination li {
    color: #fff;
    display: flex;
}

#pagination li.active a {
    background-color: orange;
}

#pagination li:first-child a {
    border-radius: 5px 0 0 5px;
}

#pagination li:last-child a {
    border-radius: 0 5px 5px 0;
    border-right: 2px solid #6f7070;
}

#pagination a {
    background-color: #444B6E;
    padding: 5px 10px;
    border: 2px solid #3D315B;
    border-right: 0;
    font-size: 20px;
}
